#video form,
#playlist form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 840px;
  margin: auto;
}

#playlist img {
  max-height: 96px;
  max-width: 124px;
}

.playlist-video-list {
  padding: 1rem;
  background: rgb(var(--bg-color-2nd));
  border-radius: 8px;
  width: 100%;
}

.playlist-video-list .video-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid rgba(var(--text-color), 0.2);
}

.playlist-video-list .video-item button {
  margin-left: auto;
}

#video .preview {
  display: flex;
  flex-direction: column;
}
