.table-wrapper {
  max-height: 80vh;
  border: 2px solid black;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(var(--text-color), 0.3);
  border-style: hidden;
  overflow: hidden;
  background: rgb(var(--table-color));
}

table th,
table td {
  padding: 0.5rem;
  text-align: center;
}

table thead tr:nth-child(odd),
table tbody tr:nth-child(even) {
  background: rgb(var(--table-color-2nd));
}

table div.action {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: auto;
  width: fit-content;
}

thead tr th {
  position: sticky;
  top: 0;
  background: rgb(var(--table-color));
}
